.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweet-label {
  display: flex;
  justify-content: flex-start;
}

.tweet-btn {
  font-family: "Bungee";
  background-color: #4056A1;
  color: white;
}

.tweet-input {
  background-color: #f4f1ec;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 3px solid darkslategrey;
  margin-top: 0.5em;
  font-size: .8em;
}

.counter {

  justify-content: flex-end;
  font-family: "Bungee";

}

.tweet-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
}

